[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
app = "*"
flask = "*"
gunicorn = "*"
multipart = "*"
pyyaml = "*"
kubernetes = "*"

[dev-packages]

[requires]
python_version = "3.6"